<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <div class="toggle-div">
    <a class="toggle-nav">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>
  <div class="outer-about-page">
    <div class="about-page fade-in1">
      <div class="inner-about-page">
        <div class="fade-in2">
          <hr class="one">
          <h2>ABOUT</h2>
        </div>
        <div class="about-body fade-in3">
          <p>
          Welcome to my personal website!<br><br>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut unde iusto vel corrupti placeat eveniet dolores? Cumque quod quam natus explicabo officiis commodi, unde optio doloribus perspiciatis, quaerat aliquid a!
          </p>
          <%= image_tag 'profile.jpg', class: "profile-pic" %>
        </div>
        <hr class="two">
      </div>
    </div>
  </div>
</div>
