<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <div class="toggle-div" id="about-menu-icon">
    <a class="toggle-nav">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>
  <div class="outer-about-page">
    <div class="about-page fade-in1">
      <div class="inner-about-page">
        <div class="fade-in2">
          <hr class="one">
          <h2>ABOUT</h2>
        </div>
        <div class="about-body fade-in3">
          <p>
          Welcome to my personal website!<br><br>
          My name is Daniela, I am a Full-Stack Developer with experience building websites and web applications. 
          I specialise in Ruby on Rails and am also proficient in front-end programming languages: JavaScript, HTML, CSS and incorporating data from back-end databases and services.
          <br>
          <br>
          I am able to effectively self-manage and also enjoy collaborating as part of a team. I actively keep up an awareness for industry trends, particularly in relation to front-end web design. 
          I am always looking for projects on which I can contribute creatively to producing an engaging user experience.
          </p>
          <%= image_tag 'profile.jpg', class: "profile-pic" %>
        </div>
        <hr class="two">
      </div>
    </div>
  </div>
</div>
