<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <div class="toggle-div">
    <a class="toggle-nav">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>
  <div class="outer-about-page">
    <div class="about-page fade-in1">
      <div class="inner-about-page">
        <div class="fade-in2">
          <hr class="one">
          <h2>ABOUT</h2>
        </div>
        <div class="about-body fade-in3">
          <p>
          Welcome to my personal website!<br><br>My name is Daniela, I am a trained Full-Stack web developer who enjoys both creating eye-catching designs and problem-solving functuality issues. 
          I build websites and web applications, specialising in Ruby on Rails and also proficient in front-end programming languages and incorporating data from back-end databases and services.
          </p>
          <%= cl_image_tag 'https://res.cloudinary.com/dsjaabri5/image/upload/v1603458070/portfolio/Profile_Pic_2_xjgs6u.jpg', class: "profile-pic" %>
        </div>
        <hr class="two">
      </div>
    </div>
  </div>
</div>
