  <div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <div class="toggle-div">
    <a class="toggle-nav">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>
  <div class="outer-projects-page">
    <div class="projects-page fade-in1">
      <div class="inner-projects-page">
        <div class="title fade-in2">
          <hr class="three">
          <h2>PROJECTS</h2>
        </div>

        <div class="projects-body fade-in3">

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'thhhcover.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhsearch.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhresults.png', class: "landscape-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhchat.png', class: "landscape-carousel-item" %> 
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'otbcover.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'otbsearch.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'otbshow.png', class: "landscape-carousel-item" %> 
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'jscover.png', class: "portrait-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'jscontact.png', class: "portrait-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'jsservices.png', class: "portrait-carousel-item" %>  
              </div>
              <div class="carousel-item">
                <%= image_tag 'jscontact.png', class: "portrait-carousel-item" %>  
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>

      </div>
      <hr class="four">
    </div>
  </div>
</div>
