  <div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <div class="toggle-div">
    <a class="toggle-nav" id="pages-menu-icon">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>
  <div class="outer-projects-page">
    <div class="projects-page fade-in1">
      <div class="inner-projects-page">
        <div class="title fade-in2">
          <hr class="three">
          <h2>PROJECTS</h2>
        </div>

        <div class="projects-body fade-in3">

          <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
            <h3> Healthy Hair Hub</h3>
            <p><em>An online resource for styling Afro-Caribbean hair.</em></p>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'thhhcover.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhsearch.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhresults.png', class: "landscape-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'thhhchat.png', class: "landscape-carousel-item" %> 
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
             <p>Special features: search function using the PG Search gem and a chatroom feature using Web Socket and Action Cable. </p>
            <a href="http://www.thehealthyhairhub.com/">
              <i class="fas fa-globe"></i>Website
            </a>

            <a href="https://github.com/DaniSinc/CurlFriend">
              <i class="fab fa-github"></i>Repository
            </a>
          </div>

          <div id="carouselExampleControls3" class="carousel slide" data-interval="false" data-ride="carousel">
            <h3>Julie Psych</h3>
            <p><em>An business website for a Clinical Psychologist.</em></p>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'jscover.png', class: "portrait-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'jscontact.png', class: "portrait-carousel-item" %> 
              </div>
              <div class="carousel-item">
                <%= image_tag 'jsservices.png', class: "portrait-carousel-item" %>  
              </div>
              <div class="carousel-item">
                <%= image_tag 'jscontact.png', class: "portrait-carousel-item" %>  
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <p>Special features: desktop and mobile configuration and email portal.</p>
            <a href="https://juliepsych.herokuapp.com/">
              <i class="fas fa-globe"></i>Website
            </a>

            <a href="https://github.com/DaniSinc/JuliePsych">
              <i class="fab fa-github"></i>Repository
            </a>
          </div>

          <div id="carouselExampleControls2" class="carousel slide" data-interval="false" data-ride="carousel">
            <h3>Open Tool Box</h3>
            <p><em> An online marketplace web app for the trading of power tools.</em></p>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'otbcover.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'otbsearch.png', class: "landscape-carousel-item" %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'otbshow.png', class: "landscape-carousel-item" %> 
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <p>Special features: booking system, dashboards for users and vendors, and maps generated with the GeoCoder gem and MapBox API. </p>
            <a href="https://opentoolbox-joshuaobura.herokuapp.com/">
              <i class="fas fa-globe"></i>Website
            </a>

            <a href="https://github.com/JoshuaObura/open_Tool_Box">
              <i class="fab fa-github"></i>Repository
            </a>
          </div>

          <div id="carouselExampleControls4" class="carousel slide" data-interval="false" data-ride="carousel">
            <h3>Little Miss Cocktail</h3>
            <p><em>A recipe sharing mobile app</em></p>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src= "https://res.cloudinary.com/dsjaabri5/image/upload/v1603487140/portfolio/markup/lmtcover_iphonexspacegrey_portrait_xk4vtv.png" alt="LMC1" class="portrait-carousel-item">
              </div>
              <div class="carousel-item">
                <img src= "https://res.cloudinary.com/dsjaabri5/image/upload/v1603487141/portfolio/markup/ltmnew_iphonexspacegrey_portrait_kvneex.png" alt="LMC1" class="portrait-carousel-item">
              </div>
              <div class="carousel-item">
                <img src= "https://res.cloudinary.com/dsjaabri5/image/upload/v1603487140/portfolio/markup/lmtshow_iphonexspacegrey_portrait_ipoyum.png" alt="LMC1" class="portrait-carousel-item">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <p>Special features: desktop and mobile configuration and user-side photo upload using Cloudinary.</p>
            <a href="https://little-miss-cocktail.herokuapp.com/">
              <i class="fas fa-globe"></i>Website
            </a>

            <a href="https://github.com/DaniSinc/little-miss-cocktail-2">
              <i class="fab fa-github"></i>Repository
            </a>
          </div>

        </div>

        <hr class="four">
      </div>
    </div>
  </div>
</div>
